* {
    margin: 0;
    padding: 0;
}

body {
  /* background-color: azure; */
  width: auto;  
  height: 100vh;
  background-image: url(1542216179.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rosybrown;
    height: 400px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 20px 20px 50px 10px pink inset;
}

 .input {
    display: flex;
    flex-direction: column;
    height: 100px;
    /* justify-items: center; */
    padding-top: 50px;
    padding-left: 20px;
}  

input {
    height: 50px;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 10px;
    padding-left: 20px;
}

#select-day {
    padding-bottom: 10px;
}

#select-month {
    padding-bottom: 10px;
    padding-top: 15px;
}

/*.day {
    height: 80px;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 10px;
    margin-top: 20px;
    padding-left: 20px;
} */

.result-text {
    margin-top: 95px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.display {
    height: 50px;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 10px;
    margin-left: 20px;
}